
.container-wrap {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}


.col-2-12 {
    padding-left: 6px;
    padding-right: 6px;
    width: 16.6667%;
}
.col-10-12 {
    padding-left: 6px;
    padding-right: 6px;
    width: 83.3333%;
}
.col-2-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
    margin-top: 20px;

}
.col-8 {
    padding-left: 6px;
    padding-right: 6px;
    width: 66.6667%;
}

/* 1. Moblie và Tablet */
