
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}



.col-2-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
    margin-top: 20px;

}
/* PC high revolution */
@media (min-width: 1024px) and (max-width: 1113px) {
    .category {
        display: none;
    }
}
/* 1. Moblie và Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 80px;
        --header-navbar-height: 0px;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
    .header__cart {
        flex: 0;
        min-width: 80px;
        justify-content: flex-end;
    }
    .header__cart-products {
        width: 100%;
        position: fixed;
        top: var(--header-height);
        padding: 0 calc( (100% - 640px) / 2);
    }
    .header__cart-products::after {
        display: none;
    }
    .main {
        margin-top: var(--header-height);
    }
    .header__sort-bar {
        display: block;
    }
    .menu-filter,
    .category {
        display: none;
    }
} 
/* 2. Tablet  */
@media (min-width: 740px) and (max-width: 1023px) {
    .category {
        display: none;
    }
    .footer__heading {
        font-size: 1.2rem;
    }
    .header__search-histories {
        width: 90%;
    }
    .header__logo-tablet {
        display: block;
    }
/* 3. Moblie */
@media (max-width: 739px) {
    html {
        /*font-size: 60.5%;*/
    }
    [class*="sm-"] {
        margin-bottom: 10px;
    }
    .header__search-box {
        position: fixed;
        top: calc(var(--header-height) + var(--header-navbar-height));
        /*flex-direction: row-reverse;*/
    }
    .fas.fa-arrow-left {
    display: block;
    }
    .header__search-histories {
        width: 100%;
    }
    .header__cart {
        justify-content: center;
    }
    .header__controls-btn-menu {
        display: flex;
    }
    .header__logo {
        display: flex;
        justify-content: center;
    }
    .pagination__item-link {
        font-size: 1.2rem;
        padding: 0 8px;
    }
    .mobile-category {
        display: block;
    }
    .footer__heading {
        font-size: 1.2rem;
    }
}